* {
  margin: 0;
}

html, 
body {
  height: 100%;
}

h1 {
  font-family: 'Tinos', serif;
  font-weight: 700;
  font-size: 2.5em;
  color: #B46697;
}

h2 {
  font-family: 'Tinos', serif;
  font-weight: 700;
  font-size: 1.75em;
  color: #01ABDB;
  margin: 0.5em 0;
}

h3 {
  font-family: 'Tinos', serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #4653A5;
  margin: 0.5em 0;
}

p, 
td, 
li {
  font-size: 1.25em;
  color: #002965;
  font-family: sans-serif;
}

a:link { 
  color: #01ABDB;
}

a:visited { 
  color: #01ABDB;
}

a:hover { 
  color: #4653A5; 
}

a:active { 
  color: #4653A5; 
} 

ul
{
  list-style-type: none;
}

li img {
  height: 300px;
  display: block;
  border: 1px solid #B46697;
}

.site-header {
  background-color: #01ABDB;
  height: 56px;
}

.site-header h1 { 
  color: #ffffff;
}

.site-header a:link { 
  color: #ffffff;
}

.site-header a:visited { 
  color: #ffffff;
}

.site-header a:hover { 
  color: #4653A5; 
}

.site-header a:active { 
  color: #4653A5; 
} 

.page-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -125px; 
}

.page-wrapper:after {
  content: "";
  display: block;
  padding-bottom: 40px;
  clear: both;
}

.site-footer, 
.page-wrapper:after {
  /* .push must be the same height as footer */
  height: 125px; 
}

.site-footer {
  background-color: #B3A7CD;
  padding: 10px;
  clear: both;
}

.floor-plan-detail-image {
  height: 600px;
  float: left;
  border: 3px solid #B46697;
  margin-right: 40px;
}

td {
  padding-right: 20px;
}

.details td:first-of-type {
  text-align: right;
  font-weight: bold;
  color: #01ABDB;
}

