* {
  margin: 0;
}

html, body {
  height: 100%;
}

h1 {
  font-family: 'Tinos', serif;
  font-weight: 700;
  font-size: 2.5em;
  color: #01ABDB;
}

h2 {
  font-family: 'Tinos', serif;
  font-weight: 700;
  font-size: 1.75em;
  color: #B46697;
  margin: 0.5em 0;
}

h3 {
  font-family: 'Tinos', serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #4653A5;
  margin: 0.5em 0;
}

p, td, li {
  font-size: 1.25em;
  color: #002965;
  font-family: sans-serif;
} 

address {
  font-family: 'Tinos', serif;
  font-weight: 400italic;
  font-size: 1.25em;
  color: #002965;
} 

ul
{
  list-style-type: none;
}

li img {
  height: 300px;
  display: block;
}

.page-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -125px; 
}

.page-wrapper:after {
  content: "";
  display: block;
  padding-bottom: 40px;
}

.site-footer, .page-wrapper:after {
  /* .push must be the same height as footer */
  height: 125px; 
}

.site-footer {
  background: #B3A7CD;
  padding: 10px;
  clear: both;
}

.floor-plan-detail-image {
  height: 600px;
  float: left;
}

td {
  padding-right: 20px;
}

.details td:first-of-type {
  text-align: right;
  font-weight: bold;
  color: #01ABDB;
}

